USE [Agenda]
GO
/****** Object:  Table [dbo].[Amigos]    Script Date: 23/09/2018 10:41:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amigos](
	[AmigoId] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Nombre] [nchar](30) NULL,
	[Apellido] [nchar](30) NULL,
	[Telefono] [nchar](30) NULL,
	[Ciudad] [int] NULL,
	[Departamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AmigoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 23/09/2018 10:41:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[DepartamentoId] [int] NOT NULL,
	[Nombre] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 23/09/2018 10:41:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[MunicipioId] [int] NOT NULL,
	[Nombre] [nchar](100) NULL,
	[Estado] [int] NULL,
	[DepartamentoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MunicipioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Amigos] ([AmigoId], [Nombre], [Apellido], [Telefono], [Ciudad], [Departamento]) VALUES (N'be6fd609-5394-4e14-b102-98f59042da26', N'William                       ', N'Ballesteros                   ', N'301777848                     ', 772, 5)
INSERT [dbo].[Departamentos] ([DepartamentoId], [Nombre]) VALUES (5, N'ANTIOQUIA                                                                                           ')
INSERT [dbo].[Departamentos] ([DepartamentoId], [Nombre]) VALUES (8, N'ATLÁNTICO                                                                                           ')
INSERT [dbo].[Departamentos] ([DepartamentoId], [Nombre]) VALUES (11, N'BOGOTÁ, D.C.                                                                                        ')
INSERT [dbo].[Municipios] ([MunicipioId], [Nombre], [Estado], [DepartamentoId]) VALUES (1, N'Abriaquí                                                                                            ', 1, 5)
INSERT [dbo].[Municipios] ([MunicipioId], [Nombre], [Estado], [DepartamentoId]) VALUES (2, N'Acacías                                                                                             ', 1, 50)
INSERT [dbo].[Municipios] ([MunicipioId], [Nombre], [Estado], [DepartamentoId]) VALUES (3, N'Acandí                                                                                              ', 1, 27)
GO
ALTER TABLE [dbo].[Amigos] ADD  CONSTRAINT [DF_Amigos_AmigoId]  DEFAULT (newid()) FOR [AmigoId]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [FK_Amigos_Departamentos] FOREIGN KEY([Departamento])
REFERENCES [dbo].[Departamentos] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [FK_Amigos_Departamentos]
GO
ALTER TABLE [dbo].[Amigos]  WITH CHECK ADD  CONSTRAINT [FK_Amigos_Municipios] FOREIGN KEY([Ciudad])
REFERENCES [dbo].[Municipios] ([MunicipioId])
GO
ALTER TABLE [dbo].[Amigos] CHECK CONSTRAINT [FK_Amigos_Municipios]
GO
ALTER TABLE [dbo].[Municipios]  WITH CHECK ADD  CONSTRAINT [FK_Municipios_Departamentos] FOREIGN KEY([DepartamentoId])
REFERENCES [dbo].[Departamentos] ([DepartamentoId])
GO
ALTER TABLE [dbo].[Municipios] CHECK CONSTRAINT [FK_Municipios_Departamentos]
GO
